.head
	height 470px
	width 100%
	background-size cover
	margin 0 auto
	position relative
	.sanjiao
		height 70px
		width 100%
		position absolute
		left 0px
		bottom 0px
		.sanjiao-left
			width 0px
			height 0px
			border-top transparent
			border-left 0px solid transparent
			border-right 900px solid transparent
			border-bottom 70px solid white
			display inline-block
			position absolute
			left 0px
		.sanjiao-right
			width 0px
			height 0px
			border-top transparent
			border-right 0px solid transparent
			border-left 900px solid transparent
			border-bottom 70px solid #fff
			display inline-block
			position absolute
			right 0px
	.cen
		height 90px
		width 1324px
		
		padding-left 12px
		padding-right 12px
		margin 0 auto
		.nav
			margin-right 80px
			padding-top 30px
			float left
			.h1
				font-weight 400
				float left
				.logo1
					background-image url(../img/logo.png)
					width 94px
					height 31px
					display inline-block
					background-repeat no-repeat
					background-position center
					overflow hidden
				.logo2
					background-image url(../img/logo2.png)
					width 49px
					height 19px
					margin 0px 8px 8px 0px
					display inline-block
					background-repeat no-repeat
					background-position center
					overflow hidden
					text-decoration none
		.nav2
			color white
			float left
			li
				float left
				&:hover
					background-color rgb(0,150,187)
			.link
				font-size 16px
				font-weight 200
				line-height 90px
				padding 0 18px
		.nav3
			display flex
			float left
			color white
			position relative
			left 80px
			.nav4
				margin-left 30px
				color white
				font-size 14px
				line-height 90px
				
				.nav_link
					font-size 14px
					padding 0 20px
					color white
					font-weight 200px
					line-height 90px
					position relative
					.none
						width 140px
						height 162px
						padding-left 30px
						padding-top 20px
						background-color white
						display none
						position absolute
						top 80px
						left -100px
						a
							display block
							clear both
							font-size 12px
							line-height 36px
							color black
					&:hover .none
						display block
						
						
					
							
				
	.cen2
		width 1324px
		height 410px
		
		margin 0 auto
		.car
			color white
			h1
				font-size 48px
				font-weight 100
				margin-top 142px
				margin-bottom 15px
			h2
				font-weight 100
				margin-bottom 60px
			span
				font-size 16px
				font-weight 100
				border 2px solid white
				width 180px
				height 42px
				padding 8px 50px 8px 50px
	.car2
		width 100%
		li
			width 100%
			height 470px
			position absolute
			top 0
			left 0
			z-index -1
			&:nth-child(1)
				background-color rgb(33,46,42)
			&:nth-child(2)
				background-color rgb(14,29,58)
			&:nth-child(3)
				background-color rgb(4,16,32)
			&:nth-child(4)
				background-color rgb(40,0,97)
			&:nth-child(5)
				background-color rgb(36,38,42)
			.cen9
				width 1600px
				height 470px
				margin 0 auto
				z-index 0
			.cen-2
				background-image url(../img/1.png)
			.cen-3
				background-image url(../img/2.jpg)
			.cen-4
				background-image url(../img/3.png)
			.cen-5
				background-image url(../img/4.jpg)
			.cen-6
				background-image url(../img/5.png)
.modu
	width 100%
	height 700px
	padding-top 55px
	background-color white
	
	h2		
		text-align center
		font-size 36px
		margin-bottom 40px		
	.row
 
		width 100%
		float left
		height auto
		.col
			text-align center
			
			width 50%
			height 470px
			float left
			
			h3
				font-size 24px
				margin-bottom 0px
			p
				color rgb(102,102,102)
				line-height 32px
			img
				margin-top 25px
				width 298px
				height 298px
		.col

			display block
			width 50%
			height 470px
			float left
			
			h3
				font-size 24px
				margin-bottom 0px
			p
				color rgb(102,102,102)
				line-height 32px
			img
				margin-top 25px
				width 298px
				height 298px
.modu2				
	width 100%
	height 566px
	background-color rgba(30,85,101,.65)
	padding-top 60px
	.cen3
		width 1224px
		height 286px
		margin 0 auto
		h2
			color white
			font-size 36px
			margin-bottom 65px
			text-align center		
		.row2
			height 200px
			width 1300px
			height auto
			display block
			.col2
				width 410px
				height 250px
				color white
				line-height 40px
				padding-left 30px
				& h3
					font-size 24px
					margin-bottom 10px
				& p:first-child
					font-size 16px
				& p:last-child
					width 140px
					height 36px
					font-size 14px
					padding-top 0px
					margin-top 25px
					background-color rgb(0,162,202)
					text-align center
					&:hover
						background-color rgb(51,181,213)
			.col2
				width 410px
				height 250px
				color white
				line-height 40px
				padding-left 30px
				float left
				& h3
					font-size 24px
					margin-bottom 10px
				& p:first-child
					font-size 16px
				& p:last-child
					width 140px
					height 36px
					font-size 14px
					padding-top 0px
					margin-top 25px
					background-color rgb(0,162,202)
					text-align center
					&:hover
						background-color rgb(51,181,213)
			.col2
				width 410px
				height 250px
				color white
				line-height 40px
				padding-left 30px
				float left
				& h3
					font-size 24px
					margin-bottom 10px
				& p:first-child
					font-size 16px
				& p:last-child
					width 140px
					height 36px
					font-size 14px
					padding-top 0px
					margin-top 25px
					background-color rgb(0,162,202)
					text-align center
					&:hover
						background-color rgb(51,181,213)
.modu3
	width 100%
	height 580px
	background-image url(../img/8.png)
	padding-top 60px			
	background-repeat no-repeat
	.cen4
		width 1224px
		height 286px
		margin 0 auto
		h2
			color black
			font-size 36px
			margin-bottom 65px
			text-align center		
		.row3
			height 200px
			width 1300px
			height auto
			display block
			.col3
				width 410px
				height 250px
				color black
				line-height 40px
				padding-left 30px
				& h3
					font-size 24px
					margin-bottom 10px
				& p:first-child
					font-size 16px
				& p:last-child
					color white
					width 140px
					height 36px
					font-size 14px
					padding-top 0px
					margin-top 25px
					background-color rgb(0,162,202)
					text-align center
					&:hover
						background-color rgb(51,181,213)
			.col3
				width 410px
				height 250px
				color black
				line-height 40px
				padding-left 30px
				float left
				& h3
					font-size 24px
					margin-bottom 10px
				& p:first-child
					font-size 16px
				& p:last-child
					width 140px
					height 36px
					font-size 14px
					padding-top 0px
					margin-top 25px
					background-color rgb(0,162,202)
					text-align center
					&:hover
						background-color rgb(51,181,213)
			.col3
				width 410px
				height 250px
				color black
				line-height 40px
				padding-left 30px
				float left
				& h3
					font-size 24px
					margin-bottom 10px
				& p:first-child
					font-size 16px
				& p:last-child
					width 140px
					height 36px
					font-size 14px
					padding-top 0px
					margin-top 25px
					background-color rgb(0,162,202)
					text-align center
					&:hover
						background-color rgb(51,181,213)
.modu4
	width 100%
	height 560px
	padding-top 70px
	text-align center
	background-color rgba(30,85,101,.65)
	.cen5
		height 424px
		width 1224px

		margin 0 auto
		& h2
			color white
			font-size 36px
			margin-bottom 20px
		& p
			color white
			font-size 18px
			line-height 50px
			margin-bottom 20px
		.pro
			width 100%
			height 160px
					
			& a
				width 160px
				height 160px
				background-color rgba(255,255,255,0.10)
				float left
				margin-right 40px
				padding 40px 50px
				&:hover
					background-color rgba(255,255,255,0.30)
				& img
					width 48px
					height 48px
				& div
					font-family MicrosoftYaHei
					font-size 15px
					text-align center
					color white
					margin-top 15px 
				
		p
			color white
			height 86px
			line-height 32px
			font-size 18px
			margin-bottom 20px
			margin-top 50px
			.in
				display block
				width 140px
				height 36px
				font-size 14px
				padding-top 5px
				margin-top 25px
				background-color rgb(0,162,202)
				text-align center
				margin 0 auto
					
				&:hover
					background-color rgb(51,181,213)
.modu5
	width 100%
	height 396px
	padding-top 70px
	text-align center
	background-color rgb(255,255,255)
	.cen6
		height 424px
		width 1224px
		margin 0 auto
		& h2
			color black
			font-size 45px
			margin-bottom 30px
		& p
			color black
			font-size 20px
			margin-bottom 50px				
			.in	
				display block
				width 180px
				height 45px
				font-size 14px
				padding-top 17px
				margin-top 25px
				background-color rgb(0,162,202)
				text-align center
				margin 0 auto
				color white	
				&:hover
					background-color rgb(51,181,213)
.bor
	border-top 1px solid rgb(203,203,203)
	.modu6
		color rgb(203,203,203)
		font-size 12px
		text-align center
		padding 35px 0 40px
		.big
			font-size 14px
			padding 5px 0
		.link2
			line-height 24px
			padding 5px 0
			& a
				padding 0 10px 0 5px
		.dibu
			padding 5px 0
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
				
				